@import "../../../styles/utils/mixins";

.header {
  padding: 2rem 5rem;
  @include flex(row, center, space-between);
}

.icon {
  cursor: pointer;
}

.link {
  font-size: 20px;
}

.nav {
  gap: 3rem;
}
