@import "../../../../styles/utils/mixins";
@import "../../../../styles/utils/variables";

.position {
  position: fixed;
  top: 85%;
  left: 5%;
  z-index: 13;
}

.modal {
  padding: 1rem 2rem;
  background: map-get($colors, white-color);
  color: map-get($colors, white-color);
  z-index: 10;
  border-radius: map-get($border-radius, primary);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.message-wrapper {
  @include flex(row, center, space-between);
  gap: 0.75rem;
}

.icon {
  i {
    font-size: 20px;
  }
  :global {
    .fa-circle-xmark {
      color: map-get($colors, primary-error);
    }
    .fa-circle-check {
      color: map-get($colors, primary-success);
    }
  }
}

.message {
  color: map-get($colors, dark-grey);
  font-size: 14px;
}
