@import "../../../styles/utils/mixins";
@import "../../../styles/utils/variables";

.page-head-wrapper {
  @include flex(column);
  margin-bottom: 1.75rem;
}

.bottom-row {
  @include flex(row, center, space-between);
  :global {
    .txt-input {
      width: 300px;
    }
  }
}

.filters {
  @include flex(row, center, center);
  gap: 1rem;
}

.page-ttl {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 3rem;
}

.add-icon {
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}
