@import "../../../styles/utils/mixins";
@import "../../../styles/utils/variables";

.page-head-wrapper {
  @include flex(row, center, space-between);
  margin-bottom: 2rem;
}

.page-ttl {
  font-size: 2rem;
  line-height: 2.5rem;
}

.add-icon {
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}
