@import "../../../styles/utils/mixins";

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.icons {
  padding: 2rem 0 2rem;
  i {
    font-size: 1.5rem;
  }
}

.icons {
  @include flex(row, center, center);
  gap: 1rem;
}

.nav {
  padding: 0 0 1rem;
}

.last-row {
  text-align: center;
}
