@import "../../../styles/utils/mixins";
@import "../../../styles/utils/variables";

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

// .dark {
//   color: map-get($colors-light, primary);
//   background-color: map-get($colors-light, background-primary);
// }

// .light {
//   color: map-get($colors-dark, primary);
//   background-color: map-get($colors-dark, background-primary);
// }

.icons {
  padding: 2rem 0 2rem;
  i {
    font-size: 1.5rem;
  }
}

.icons {
  @include flex(row, center, center);
  gap: 1rem;
}

.nav {
  padding: 0 0 1rem;
}

.last-row {
  text-align: center;
}
